<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LockManager" connectionString="Data Source=Your.Sql.Server;Initial Catalog=Your.Database;Integrated Security=false;MultipleActiveResultSets=True;Network Library=dbmssocn;max pool size=500;user id=;password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
